{% extends 'base.html' %}
{% load static %}
{% block matadescripton %}
    {% if category %}
           {{ category.description|truncatewords:155 }}
    {% else %}
          welcome AK store where you can buys different items...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
           {{ category.name }} -AK store
    {% else %}
          see our New Collections -AK store
    {% endif %}
{% endblock %}

{% block content %}
      {% if category %}
         <div>
           <div class="my_row_class">
               <div class="mx_auto">
                  <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a> </p>
               </div>
           </div>
         </div>
     {% endif %}
    <div class="mx_auto">
       {% if category %}
         <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
         </div>
         <br>
         <div>
           <h1 class="text-center my_title">{{category.name}}</h1>
           <P class="text-justify">{{category.description}}</P>
         </div>
      {% else %}
     <div>
         <img class="my_image my_image_padding" src="{% static 'img/banner.1png' %}"  width="1150" alt="our products">
     </div>
     <br>
     <div>
         <h1 class="text-center my_title">Our Products Collections</h1>
         <p class="text-justify">Electronic commerce (ecommerce) refers to companies and individuals that buy and sell goods and services over the Internet. Ecommerce operates in different types of market segments and can be conducted over computers, tablets, smartphones, and other smart devices. best-selling products online at AK group </p>
     </div>
 {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:10rem">
                 <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div class="card-body">
                       <h4>{{product.name}}</h4>
                       <p>{{product.price}}</p>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

           <hr>
           <div class="text-center">
              {% for pg in products.paginator.page_range %}
                 <a href="?page={{pg}}"  class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
              {% endfor %}
           </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}